<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="#">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="/stylesheets/dashboard.css">

    <title>Dashboard </title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="container my-4">
      <h1 class="headline text-center">Welcome To The Dashboard</h1>

      <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 text-center info">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">Name</th>
              <td><%= user.name %> </td>
            </tr>
            <tr>
              <th scope="row">Username</th>
              <td><%= user.username %></td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td><%= user.email %></td>
            </tr>
          </tbody>
        </table>
      <a href="/logout" class="btn btn-primary by-4">Logout</a>
      </div>
      <div class="col-lg-4"></div>
      </div>
          
    </div> 
    <footer class="mt-auto">
      <div class="fluid-container" id="foot">
          <div class="row ">
              <div class="col-lg-12 footer">
                  <p>Copyright © 2020 Vibhor Kumar </p>   
              </div>

          </div>
      </div>
  </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>